header .volver-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el carrito en el header */
    position: relative;
    /*margin: 0 auto; /* Centra el contenedor del carrito */
    margin-left: auto;
    padding-right: 20px;
    color: white;
}

.volver-container {
    display: inline-flex;
    align-items: baseline;
    font-size: 1.5rem; /* Adjust this value to match your h1 size */
    margin-left: auto;
}

.fas {
    color: white;
}

.volver-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

@media (max-width: 768px) {
    header .volver-container {
        position: absolute;
        right: 40px; /* Space for hamburger menu */
        top: 50%;
        transform: translateY(-50%);
    }
}